@charset "utf-8";
html,body{
    background-color: white;
    color:black;
    font-family: "맑은고딕";
    font-size: 16px;
}
a{
    color:#333;
    text-decoration: none;
}
a:hover{
    color:#666;
}
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
img{
    vertical-align: middle;
}
table,td,th{
    border:1px solid black;
    border-collapse: collapse;
}
main{
    width:100%;
    max-width:1200px;
    /* border:1px solid black; */
    margin:auto;
}
header{
    width:100%;
    /* border:1px solid black; */
    height:100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    width: 200px;
    /* border: 1px solid black; */
}

h1 img{
    width:100%;
}
.nav-area{
    width:83%;
    max-width: 1000px;
    height: auto;
    /* border:1px solid black; */
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}
nav{
    width:60%;
    min-width: 320px;
    /* border:1px solid black; */
    display: flex;
}
.main-nav{
    width: 25%;
    text-align: center;
    position:relative;
}
.main-nav>a{
    display: inline-block;
    width: 99%;
    padding:10px 0;
    font-size: 1.1rem;
    font-weight: 700;
    background-color: skyblue;
    /* border: 1px solid black; */
}
.main-nav:hover>a{
    background-color:hotpink;
    color:white;
}
.drop{
    position:absolute;
    width:99%;
    background-color: skyblue;
    margin-top: 1px;
    height: 170px;
    /* height: 0;
    overflow: hidden;
    transition:0.5s; */
    display: none;
}
.drop a{
    display:inline-block;
    padding:10px;
    width: 100%;
}
.drop a:hover{
    background-color: darkcyan;
    color: white;
}
/* .main-nav:hover .drop{
    height: 170px;
} */
#contents{
    width:100%;
    height: 500px;
    /* border:1px solid black; */
}
#contents>h2{
    display:none;
}
.slider-g{
    width: 100%;
    height: 300px;
    /* border: 1px solid black; */
}
.slider-g img{
    width:100%;
}
.nbs{
    width:100%;
    height: 200px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;

}
.n-g,
.banner,
.shortcut{
    width:33.33%;
    height: 100%;
    /* border: 1px solid black; */
    padding: 10px;
}
.banner a,
.shortcut a{
    width:100%;
    height: 100%;
    display: block;
    overflow: hidden;
}
.n-g img,
.banner img,
.shortcut img{
    width:100%;
}
.n-g-list{
    width:50%;
    display: flex;
    margin-left:10px;
}
.n-g-list a{
    display: inline-block;
    width:50%;
    text-align: center;
    border: 1px solid black;
    background-color: black;
    color: white;
}

.n-g-list a.active{
    background-color: white;
    color:black;
    border-bottom: 1px solid white;
}
.tab-content{
    width:100%;
    border:1px solid black;
    height: 150px;
    display: none;
    margin-top: -1px;
}
.tab-content ul{
    list-style-type: none;
    width:100%;
    font-size: 0.9rem;
}
.tab-content ul li{
    padding: 7px;
}
.tab-content ul li a{
    display: flex;
    justify-content: space-between;
}
.tab-content ul li:nth-child(even){
    background-color: #ccc;
}
#notic{
    display: block;
 
}
#gallery{
    width:100%;
    height: 100%;
}
.gg{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.g{
    width:100px;
    height: 100px;
    border: 1px solid black;
}
.g a{
    width:100%;
}
.g a img{
    width:100%;
}


footer{
    width:100%;
    height: 100px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}
h3{
    width:17%;
    max-width: 200px;
    /* border:1px solid black; */
    align-self: center;
}
h3 img{
    width:100%;
}
.address{
    width:66%;
    max-width:800px;
    /* border: 1px solid black; */
    text-align: center;
    align-self: center;
}
.sns{
    width:17%;
    max-width:200px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sns a{
    width:50px;
    height: 50px;
    /* border:1px solid black; */
}
.sns a img{
    width:100%;
}

